<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>

    <! - GeoFire ->
    <script src="https://cdn.firebase.com/libs/geofire/4.1.2/geofire.min.js"></script>

    <title>F O O D M A P</title>
</head>

<body>
    <h1>Bienvenido a mi Foodmap</h1>
    <h3>Hoy que quieres comer?</h3>
    <script src="../js/main.js"></script>
</body>

</html>