body {
    background-color: #FFEEAD;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

span {
    font-family: 'Homemade Apple', cursive;
}

.welcome {
    text-align: center;
    padding-left: 1em;
}

@media only screen and (min-width: 768px) {
    .align-left{
        padding-left: 7em;
    }

    .welcome {
        text-align: center; 
    }
}