body {
    background-color: #f8d6c5;
    color: #333333;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 1.3em;
}

#mapContainer {
    width: 700px;
    height: 375px;
    display: block;
}

.navbar {
    background-color: #f8c2b1;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 2em;
}